* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  background-color: skyblue;
}

#title h1{
  margin: 0;
  color: white;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container {
  height: 750px;
  width: 100%;
  background: url("images/view.jpg") top center fixed no-repeat;
  background-size: cover;
  position: relative;
}

#down {
  position: absolute;
  top: 20px;
  left: 20px;
}

#bars {
position: absolute;
top: 20px;
right: 20px;
}





#main {
  width: 100%;
  height: 750px;
  background-color: #202328;
  margin-top: 0;
  border-top: 2px solid navy;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  #main {
    flex-direction: column;
    height: 1250px;
  }
}




#header {
border-top: 2px solid red;
/*border-bottom: 2px solid lime;*/
}

#content {
  border-left: 2px solid blue;
}

#content img {
  max-width: 400px;
}

#section {
  border-bottom: 2px solid lime;
}

#section2 {
  border-left: 2px solid orange;
}

#section2 img {
  max-width: 300px;
}

@media screen and (max-width: 600px) {
  #header, #content, #section, #section2 {
    border-bottom: 2px solid black;
  }
}









#footer {
width: 100%;
border: 1px solid lime;
}





.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(22, 31, 45);
  overflow-x: hidden;
  transition: .5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  padding: 25px;
  /*padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: .3s;
}


.sidenav a:hover {
  color: red;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
