* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  background-color: skyblue;
  font-family: 'Nunito Sans', sans-serif;
}

/*Font size for desktop*/
@media screen and (min-width: 600px) {
p {
  font-size: 1.2em;
}
}

ul {
  padding-left: 20px;
}





/*Top of Page*/

#title h1{
  margin: 0;
  color: white;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container {
  height: 750px;
  width: 100%;
  background: url("images/view.jpg") top center fixed no-repeat;
  background-size: cover;
  position: relative;
}

#down {
  position: absolute;
  top: 20px;
  left: 20px;
}

#bars {
position: absolute;
top: 20px;
right: 20px;
}



/*Main Content*/  /*Flex Container*/

#main {
  width: 100%;
  height: 750px;
  background-color: #202328;
  margin-top: 0;

  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
  #main {
    flex-direction: column;
    height: auto;
  }
}


/*Flex Items*/

#header {
border-top: 2px solid red;
flex: 0 1 0;
}

@media screen and (min-width: 600px) {
  .main-header {
    margin-left: 20px;
  }
}


#content {
border-left: 2px solid blue;
flex: 1 1 0;
}

#content img {
  max-width: 400px;
}

#section {
  border-bottom: 2px solid lime;
  flex: 1 1 0;
}

#section2 {
  border-left: 2px solid orange;
  flex: 1 1 0;
}

#section2 img {
width: 65%;
height: auto;
}

#section3 {
  border-left: 2px solid yellow;
  flex: 1 1 0;
}

/*black bottom border on small screens*/
@media screen and (max-width: 600px) {
  #header, #content, #section, #section2, #section3 {
    border-bottom: 2px solid black;
  }
}

/*Footer*/

#footer {
width: 100%;
border: 1px solid lime;
}

#footer a {
  text-decoration: none;
  position: relative;
  top: 10px;
}

/*Next Button*/

#next {
  margin-top: 20px;
  font-size: 50px;
  color: white;
  text-decoration: none;
  transition: all .5s;
}

#next:hover {
  color: orange;
}



/*Navigation*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(22, 31, 45);
  overflow-x: hidden;
  transition: .5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  padding: 25px;
  /*padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: .3s;
}

.sidenav a.active {
  color: red;
}


.sidenav a:hover {
  color: red;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*padding and font size for small screens*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
